html {
  position: relative;
}
html, body {
  height: 100%;
  width: 100%;
  margin:0px;
}
/* padding for header and footer */
body{
  padding-top: 50px;
  padding-bottom: 40px;
}
.btn:focus, .btn:active {
  outline: 0 !important;
}
.ambulanceIcon {
  height: 35px;
}
#infoWrapper {
  overflow: auto;
}
/* set map background to white */
.leaflet-container {
  background: #ffffff;
}
.pageDescription {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  color: #999;
  line-height: 1.3;
}
.container-fluid, .col-map {
  padding: 0;
}
.logo {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 70px;
  /*z-index: 99999;*/
}
.navbar-PRC {
  background-color: #f41c1c;
  border-bottom: 2px solid black;
  height: 50px;
}
.navbar-brand-PRC {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 100px;
}
.btn:focus, .btn:active {
  outline: 0 !important;
}
.btn-zoom {
  z-index: 1001;
  background-color: #ffffff;
  border-color: #d7d7d8;
  font-weight: bold;
  color: #6d6e70;

}
.leaflet-control-attribution {
  color: #9f9fa3;
}
.leaflet-control-attribution a {    
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  background-color: black;
  text-align: center;
  padding-top: 6px;
}
.motto-white {
  color: #fff;
  font-weight: bolder;
  font-size: 120%;
  margin-right: 6px;
}
.motto-red {
  color: #ff1e19;
  font-weight: bolder;
  font-size: 18px;
}
.col-motto {
  background-color: black;
}
.container-motto {
  background-color: black;
}
.marker-cluster {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster div {
  background-color: rgba(237, 27, 46, 0.7);
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 15px;
}
